<app-header></app-header>

<!-- <h1 class="heading">{{title}}</h1> -->

<!-- <input type="text" #box placeholder="Enter Name" name="username"/> -->

<!-- <button (click)="getValue(box.value)">Click</button> -->
<!-- <button (click)="getValue(box.name)">Click</button> -->
<!-- <button (click)="getValue(box.placeholder)">Click</button>
<p>Box value is : {{displayVal}}</p> -->

<!-- <button (click)="getCounter('minus')">--</button>

<p>{{count}}</p>
<button (click)="getCounter('add')">++</button> -->

<!-- <app-login></app-login> -->

<!-- <h1 *ngIf="show">Code step by step</h1> -->

<!-- <h1 *ngIf="show else elseBlock">Code step by step</h1> -->
<!-- <ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->

<!-- <h1 *ngIf="show;then ifBlock else elseBlock">Code step by step</h1>

<ng-template #ifBlock>
  <h1>If Block</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
<h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
<h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
<h1 *ngSwitchCase="'yellow'" style="color: yellow;">Yellow Color</h1>
<h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
<h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
<h1 *ngSwitchDefault>Unknown Color</h1>
</div> -->

<!-- <h3 *ngFor="let user of users">Name is: {{user}}</h3> -->

<!-- <ul *ngFor="let user of userDetails">
  <li>Name: {{user.name}}</li>
   <li>Email: {{user.email}}</li>
    <li>Phone: {{user.phone}}</li>
    <br/> 
      <li>SocialAccouts:</li>
   <ul *ngFor="let account of user.socialAccounts ">
 
    <li>{{account}}</li>
   </ul>
</ul> -->

<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">{{colorTitle}}</h1>
<button (click)="updateColor()">Update Color</button> -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter User Name"/>
  <br/><br/>
  <input type="email" ngModel name="email" placeholder="Enter User Email" />
  <br /><br />
  <input type="password" ngModel name="password" placeholder="Enter User Password" />
  <br/><br/>
  <button type="submit">Submit</button>
</form>

<ul>
  <li>
    {{userData.user}}
  </li>
  <li>
    {{userData.email}}
  </li>
  <li>
    {{userData.password}}
  </li>
</ul> -->

<!-- <h1 *ngIf="display">
  Heading Tag
</h1>
<button (click)="toggle()">Toggle</button> -->
<!-- 
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<Hr/>
<div class="demo-section">
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</div> -->
<!-- 
<input type="text" placeholder="Enter New Task" #taskInput />
<br> <br>

<button (click)="addTask()">Add Task</button>
<ul *ngFor="let item of list">
  <li>{{item.name}} <span><button (click)="removeTask(item.id)">Remove Task</button></span></li>
</ul> -->

<!-- <app-child [item] ="data"></app-child>

<button (click)="updateChild()">Update Child Component</button> -->
<!-- 
<ul *ngFor="let user of userInfo">
<app-child [userData] ="user"></app-child>
</ul> -->

<app-child (updateDataEvent) ="updateData($event)"></app-child>
<h1>{{val}}</h1>