<app-header></app-header>

<!-- <h1 class="heading">{{title}}</h1> -->

<!-- <input type="text" #box placeholder="Enter Name" name="username"/> -->

<!-- <button (click)="getValue(box.value)">Click</button> -->
<!-- <button (click)="getValue(box.name)">Click</button> -->
<!-- <button (click)="getValue(box.placeholder)">Click</button>
<p>Box value is : {{displayVal}}</p> -->

<!-- <button (click)="getCounter('minus')">--</button>

<p>{{count}}</p>
<button (click)="getCounter('add')">++</button> -->

<!-- <app-login></app-login> -->

<!-- <h1 *ngIf="show">Code step by step</h1> -->

<!-- <h1 *ngIf="show else elseBlock">Code step by step</h1> -->
<!-- <ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->

<!-- <h1 *ngIf="show;then ifBlock else elseBlock">Code step by step</h1>

<ng-template #ifBlock>
  <h1>If Block</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Block</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
<h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
<h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
<h1 *ngSwitchCase="'yellow'" style="color: yellow;">Yellow Color</h1>
<h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
<h1 *ngSwitchCase="'orange'" style="color: orange;">Orange Color</h1>
<h1 *ngSwitchDefault>Unknown Color</h1>
</div> -->

<!-- <h3 *ngFor="let user of users">Name is: {{user}}</h3> -->

<!-- <ul *ngFor="let user of userDetails">
  <li>Name: {{user.name}}</li>
   <li>Email: {{user.email}}</li>
    <li>Phone: {{user.phone}}</li>
    <br/> 
      <li>SocialAccouts:</li>
   <ul *ngFor="let account of user.socialAccounts ">
 
    <li>{{account}}</li>
   </ul>
</ul> -->

<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">{{colorTitle}}</h1>
<button (click)="updateColor()">Update Color</button> -->

<!-- <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
  <input type="text" ngModel name="user" placeholder="Enter User Name"/>
  <br/><br/>
  <input type="email" ngModel name="email" placeholder="Enter User Email" />
  <br /><br />
  <input type="password" ngModel name="password" placeholder="Enter User Password" />
  <br/><br/>
  <button type="submit">Submit</button>
</form>

<ul>
  <li>
    {{userData.user}}
  </li>
  <li>
    {{userData.email}}
  </li>
  <li>
    {{userData.password}}
  </li>
</ul> -->

<!-- <h1 *ngIf="display">
  Heading Tag
</h1>
<button (click)="toggle()">Toggle</button> -->
<!-- 
<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<Hr/>
<div class="demo-section">
  Button with a badge on the left
  <button mat-raised-button color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</div> -->
<!-- 
<input type="text" placeholder="Enter New Task" #taskInput />
<br> <br>

<button (click)="addTask()">Add Task</button>
<ul *ngFor="let item of list">
  <li>{{item.name}} <span><button (click)="removeTask(item.id)">Remove Task</button></span></li>
</ul> -->

<!-- <app-child [item] ="data"></app-child>

<button (click)="updateChild()">Update Child Component</button> -->
<!-- 
<ul *ngFor="let user of userInfo">
<app-child [userData] ="user"></app-child>
</ul> -->

<!-- <app-child (updateDataEvent) ="updateData($event)"></app-child>
<h1>{{val}}</h1> -->

<!-- <input type="text" #box name="username" placeholder="enter username" />
<button (click)="getVal(box)">Call Function</button> -->

<!-- <h1>{{tag }}</h1> -->
<!-- <h1>{{tag | uppercase}}</h1>
<h1>{{tag | lowercase}}</h1> -->
<!-- <h1>{{tag | slice:3:7 | uppercase}}</h1>
<P>{{'how are you' | titlecase}}</P>
<h1>{{today}}</h1>
<h1>{{today | date}}</h1>
<h1>{{today | date:'fullDate'}}</h1>
<h3>{{user | json | uppercase}}</h3>  -->
<!--  3 digits before decimal and min 2 or max 5 digits after decimal -->
<!-- <h2>{{02000.3000 | number:'3.2-5'}}</h2> -->
<!-- 3 digits before decimal and min 3 or max 5 digits after decimal -->
<!-- <h2>{{2.3 | number:'3.3-5'}}</h2>
<h1>{{20 | currency:'INR'}}</h1>
<h1>{{20 | currency:'USD'}}</h1>
<h1>{{20 | currency:'GBP'}}</h1>  -->

<!-- custom pipes -->
<!-- <h1>{{20 | usdInr}}</h1> -->
<!-- <h1>{{20 | usdInr:90}}</h1> -->

<!-- Template Driven Forms -->

<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)"> loginForm  is Template Refrence Varibale -->
<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.controls)">
  <input type="text" placeholder="Enter Name" name="name" ngModel />
  <br /><br />
  <input type="password" name="password" placeholder="Enter Password" ngModel>
  <br /><br />
  <button>Login</button>
</form> -->

<!-- <button (click)="userLogin(loginForm.value)">OutsideLogin</button> -->

<!-- Reactive Forms -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="Enter Name" formControlName="user" />
  <br />
  <span style="color: red;" *ngIf="userValidator && userValidator.invalid && userValidator.touched">This field is not
    valid</span>
  <br />
  <input type="password" placeholder="Enter Password" formControlName="password" />
  <br />
  <span style="color: red;" *ngIf="passwordValidator && passwordValidator.invalid && passwordValidator.touched">This
    field is not valid</span>
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>

<h1 appRedEl> Custom Directives </h1>
<h2 appUpdateVal>Hello</h2> -->
<!-- 
<h1>Routing </h1>

<a routerLink="">Home</a>
&nbsp;&nbsp;&nbsp;
<a routerLink="about">About</a>
&nbsp;&nbsp;&nbsp;
<a routerLink="user/10">Dolly</a>
&nbsp;&nbsp;&nbsp;
<a routerLink="user/20">Mohit</a>
&nbsp;&nbsp;&nbsp;
<a routerLink="user/30">Kajal</a>
&nbsp;&nbsp;&nbsp;
<a routerLink="user/40">Mini</a>

 -->

<!-- <router-outlet></router-outlet> -->

<!-- <ul>
  <li *ngFor="let user of usersData">

    {{user.title}} : {{user.completed}}

  </li>
</ul>

<app-footer></app-footer> -->
<!-- 
<h1>Routing Module in Angular</h1>

<ul>
  <li>
    <a routerLink="adminLogin">Admin Login</a>

  </li>
  <li>
    <a routerLink="adminList">Admin List</a>
  </li>
</ul>

<router-outlet></router-outlet> -->

<!-- <h1>Group Routing in Angular</h1>

<h3>Admin Pages</h3>
<ul>
  <li>
    <a routerLink="admin/login">Admin Login</a>
  </li>
  <li>
    <a routerLink="admin/list">Admin List</a>
  </li>
</ul>
<h3>User Pages</h3>
<ul>
  <li>
    <a routerLink="user/login">User Login</a>

  </li>
  <li>
    <a routerLink="user/list">User List</a>
  </li>
</ul> -->


<h1>Lazy Loading in Angular</h1>

<h3>Admin Pages</h3>
<ul>
  <li>
    <a routerLink="admin/login">Admin Login</a>
  </li>
  <li>
    <a routerLink="admin/list">Admin List</a>
  </li>
</ul>
<h3>User Pages</h3>
<ul>
  <li>
    <a routerLink="user/login">User Login</a>

  </li>
  <li>
    <a routerLink="user/list">User List</a>
  </li>
</ul>
<router-outlet></router-outlet>